/******************
 * SKIN PHOTOSHOP *
 ******************/

body{
    background-image: url("bg-skin.jpg");
    background-size:cover;
    background-repeat: no-repeat;
    background-attachment: fixed ;
    width:100vw; height:100vh;
    padding: 0;
    margin:0;
    padding-top: 100px; /* testatina in alto */
    position: fixed;
   
}  

/*************
 * LINK EXIT *
 *************/

a#skin-link{
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: -1000;
}
#skin-link span{ display: none;}

